/*html page*/
body {
	background-color: #EEEEEE;
	margin: auto;
	}
	
a {
	text-decoration:none;
	color:#888;
	}

a:hover {
	color:#FF3300;
	}

a:visited {
	color:#FF3300;
	}

div.Main {
	background-color: #151515;
	background-image: url("http://www.it-native.de/wp-content/themes/ScenicSanity/images/bg.png");
	background-position: center;
	margin: auto;
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
	color: #DCDCDC;
	width: 1200px;
	}

div.Main2 {
	background-color: #EEEEEE;
	background-position: center;
	margin: auto;
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
	color: #151515;
	width: 980px;
	position: relative;
	padding-left: 10px;
	}

div.Main2 h1 {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
	color: #FF6600;
	font-size: 16px;
	}

#header {
	margin-top: 10px;
	}
	
div.header-main {
	background-image: url("http://www.it-native.de/wp-content/themes/ScenicSanity/images/header.png");
	width: 990px;
	height: 382px;
	position: relative;
	margin:auto;
	padding-top: 1px;
	}

div.header-main a {
	font-family:'Californian FB','Georgia','Arial';
	font-size:48px;
	color:#FF6600;
	text-decoration:none;
	font-weight:normal;
	letter-spacing:-1px;
	padding:10px;
	}

div.description {
	font-family:Candara,'Trebuchet MS';
	font-weight:normal;
	color:#555;
	font-size:18px;
	padding:3px;
	padding-left:10px;
	}

div.footer {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
	color: #DCDCDC;
	}

div.upload {
	margin:auto;
	width: 510px;
	
	}
 
label {
	width: 250px;
	float:left
	}

input {
	width: 350px;
}

textarea {
	width: 250px;
	height: 100px;
}

/* messages */
div.error {
    background: red;
    border: 1px solid darkred;
    color: #000;
    font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
    font-weight: bold;
    padding: 5px;
    margin: 10px 0;
	}

div.success {
    background: green;
    border: 1px solid darkgreen;
    color: #000;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Arial, Helvetica, Sans Serif;
    padding: 5px;
    margin: 10px
	}

#preview_image {
	max-width: 960px;
	clear: both;
	border: 0;
	}

/* report & delete */
#report, #delete {
    display: none;
	}
#report_link, #delete_link {
    cursor: pointer;
    text-decoration: underline;
	}
