			</div>
			<p style="font-family: 'segoe ui', tahoma, arial, helvetica, Sans Serif; font-size: 10px;" align="center">
			Dieses Uploadscript wurde freundlicherweise von <a href="http://www.hdlabs.de" target="_blank">Stephan Pl&ouml;hn</a> bereitgestellt.</p>
		</div> 
	</body>
</html>